[Unit]
Description=zerovpn client

[Service]
ExecStart=/bin/bash ./0vpn-client --server-hostname [your server hostname here] --server-name [your server name here] --keyfile [your keyfile here]
RestartSec=1
WorkingDirectory=/home/fps/src/0vpn
StartLimitIntervalSec=0

[Install]
WantedBy=multi-user.target

